<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [4]:
# your code goes here
Num_duplicates = df.duplicated(subset= "Respondent", keep="first").sum() #Check the number of duplicates

duplicates = df.duplicated(subset= "Respondent", keep="first") #Find the duplicates

df_duplicates = df[duplicates]

df[df["Respondent"] == 2339] #Verify one of the duplicate record for security

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1107,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1229,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
df.drop_duplicates(subset= "Respondent", keep="first", inplace=True )

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
df.duplicated(subset= "Respondent", keep= "first").sum()

0

## Finding Missing values

Find the missing values for all columns.

In [7]:
# your code goes here
df.replace(r"^\s*$", np.NaN, regex=True, inplace=True) # Replace empty fields with NaN

missing_values = dict(df.isnull().sum())

missing_values

{'Respondent': 0,
 'MainBranch': 0,
 'Hobbyist': 0,
 'OpenSourcer': 0,
 'OpenSource': 81,
 'Employment': 0,
 'Country': 0,
 'Student': 51,
 'EdLevel': 112,
 'UndergradMajor': 737,
 'EduOther': 164,
 'OrgSize': 96,
 'DevType': 65,
 'YearsCode': 9,
 'Age1stCode': 13,
 'YearsCodePro': 16,
 'CareerSat': 0,
 'JobSat': 1,
 'MgrIdiot': 493,
 'MgrMoney': 497,
 'MgrWant': 493,
 'JobSeek': 0,
 'LastHireDate': 0,
 'LastInt': 413,
 'FizzBuzz': 37,
 'JobFactors': 3,
 'ResumeUpdate': 39,
 'CurrencySymbol': 0,
 'CurrencyDesc': 0,
 'CompTotal': 809,
 'CompFreq': 206,
 'ConvertedComp': 816,
 'WorkWeekHrs': 122,
 'WorkPlan': 121,
 'WorkChallenge': 164,
 'WorkRemote': 8,
 'WorkLoc': 32,
 'ImpSyn': 5,
 'CodeRev': 1,
 'CodeRevHrs': 2426,
 'UnitTests': 29,
 'PurchaseHow': 196,
 'PurchaseWhat': 38,
 'LanguageWorkedWith': 11,
 'LanguageDesireNextYear': 134,
 'DatabaseWorkedWith': 453,
 'DatabaseDesireNextYear': 1042,
 'PlatformWorkedWith': 411,
 'PlatformDesireNextYear': 544,
 'WebFrameWorkedWith': 1393,
 'WebFrameDesireNextYear': 1617,
 'MiscTechWorkedWith': 2182,
 'MiscTechDesireNextYear': 1455,
 'DevEnviron': 29,
 'OpSys': 34,
 'Containers': 82,
 'BlockchainOrg': 2322,
 'BlockchainIs': 2610,
 'BetterLife': 98,
 'ITperson': 35,
 'OffOn': 38,
 'SocialMedia': 293,
 'Extraversion': 20,
 'ScreenName': 507,
 'SOVisit1st': 325,
 'SOVisitFreq': 5,
 'SOVisitTo': 1,
 'SOFindAnswer': 3,
 'SOTimeSaved': 50,
 'SOHowMuchTime': 1917,
 'SOAccount': 1,
 'SOPartFreq': 1128,
 'SOJobs': 6,
 'EntTeams': 5,
 'SOComm': 0,
 'WelcomeChange': 85,
 'SONewContent': 1965,
 'Age': 287,
 'Gender': 73,
 'Trans': 123,
 'Sexuality': 542,
 'Ethnicity': 675,
 'Dependents': 140,
 'SurveyLength': 19,
 'SurveyEase': 14}

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
# your code goes here
df["WorkLoc"].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
# your code goes here
df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
#make a note of the majority value here, for future reference
#Office is the most frequent value

df["WorkLoc"].mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
# your code goes here
df["WorkLoc"].fillna("Office", inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# your code goes here
df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
# your code goes here
df.dropna(subset=["CompFreq"], axis=0, inplace=True)
df.dropna(subset=["CompTotal"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly'], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [20]:
# your code goes here
normalizaded_values = []

for index, i in enumerate(df["CompFreq"]):
    if i == "Yearly":
        normalizaded_values.append(df.loc[index, "CompTotal"]/df["CompTotal"].max())
    elif i == "Monthly":
        normalizaded_values.append((df.loc[index, "CompTotal"]*12)/df["CompTotal"].max())
    elif i == "Weekly":
        normalizaded_values.append((df.loc[index, "CompTotal"]*52)/df["CompTotal"].max())

df["NormalizedAnnualCompensation"] = normalizaded_values

df["NormalizedAnnualCompensation"].head()

0    0.000087
1    0.000197
2    0.000129
3    0.000497
4    0.000129
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).